<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.url">${jdbc.url}</property>
        <!--property name="hibernate.connection.username">${jdbc.username}</property>
        <property name="hibernate.connection.password">${jdbc.password}</property-->
        <property name="hibernate.default_schema">${hibernate.default_schema}</property>
        <!--property name="hibernate.current_session_context_class">thread</property-->
        <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
        <property name="hibernate.query.substitutions">true 1, false 0</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>
        <property name="hibernate.show_sql">${hibernate.show_sql}</property>
    </session-factory>
    
</hibernate-configuration>
