<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC
    "-//LOGGER"
    "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd/MMM/yyyy HH:mm:ss} %5p %c :%L - %m%n" />
        </layout>
    </appender>
    
    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="${log.file}" />
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="5" />
        <layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" value="%d{dd/MMM/yyyy HH:mm:ss,SSS} %5p %c :%L - %m%n" /> 
        </layout> 
    </appender>

    <logger name="org.apache.struts2">
        <level value="ERROR" />
    </logger>

    <logger name="org.hibernate">
        <level value="ERROR" />
    </logger>
 
    <logger name="java.sql">
        <level value="ERROR" />
    </logger>

    <!-- Suppress warnings from Commons Validator -->
    <logger name="org.apache.commons.validator.ValidatorResources">
        <level value="ERROR" />
    </logger>

    <!-- Suppress invalid warning messages from JSF -->
    <logger name="com.opensymphony.xwork2">
        <level value="ERROR" />
    </logger>
    
    <logger name="org.springframework">
        <level value="ERROR" />
    </logger>

    <logger name="et.gov.csa">
        <level value="DEBUG" />
    </logger>

    <root>
        <level value="ERROR" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</log4j:configuration>
